//投稿画面
.review-create {
  .preview-area {
    text-align: center;

    #preview-image {
      height: 200px;
      width: 300px;
      margin: auto;
      display: none;
    }
  }

  .actions {
    text-align: right;
  }
}
