// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.preview-area {
  text-align: center;

  #preview-image {
    height: 200px;
    width: 300px;
    margin: auto;
    display: none;
  }
}

.card {
  height: 100%;

  .card-header {
    height: 3rem;
    padding-right: 0;

    .badge {
      display: inline-block;
      float: right;
      transform: scale(0.7);
    }
    .tag-straight {
      background-color: #664738;
    }
    .tag-blend {
      background-color: #cc8d70;
    }
  }

  .card-img-top {
    height: 14rem;
  }
}
